<p>Olá,</p>

<p>Seu pagamento foi confirmado. Você pode acessar o formulário clicando no link abaixo:</p>

<p><a href="<%= @form_link %>"><%= @form_link %></a></p>

<p>Atenciosamente,<br>Equipe VisaForm</p>